.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../assets//img//bb.jpg") center no-repeat fixed;
  background-size: cover;

}

.registerTitle {
  font-size: 50px;
  color: #02040f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.registerForm {
  width: 25%;
  height: 50%;
  margin-top: 20px;
  padding: 30PX;
  display: flex;
  flex-direction: column;
  background-color: #02040f;
  justify-content: center;
}
label{
  color: rgb(243, 243, 243);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.registerButton {
  margin-top: 50px;
  cursor: pointer;
  background-color: #3f37c9;
  border: none;
  color: white;
  border-radius: 1px;
  padding: 10px;
}

.registerLoginButton {
  width: 440px;
  background-color: #02040f;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 1px;
}
